body {
  background-color: #1e1e2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #cdd6f4;
  width: 100%;
}
.time {
  font-size: 60px;
  font-weight: bold;
  color: #fab387;
  margin-bottom: 40px;
  font-family: monospace;
  margin-inline: auto;
}
.search-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

input {
  width: 500px;
  padding: 10px;
  padding-inline: 15px;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid #89b4fa;
  background-color: #313244;
  color: #cdd6f4;
  outline: none;
  text-align: left;
  margin-bottom: 180px;
  margin-inline: auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
