[Unit]
Description=mygo user service
After=network-online.target

[Service]
ExecStart=mygo -p 4611 %h/.config/ura/assets/catppuccin-homepage
Restart=always

[Install]
WantedBy=default.target
