[Unit]
Description=OpenRGB Profile Loader

[Service]
Type=oneshot
ExecStart=/usr/bin/openrgb --noautoconnect -p default

[Install]
WantedBy=graphical-session.target
