[Unit]
Description=sing-box user service
After=network-online.target

[Service]
ExecStart=sing-box run -c %h/.config/sing-box/config.json -D %h/.config/sing-box/
Restart=always

[Install]
WantedBy=default.target
