@import url("./mocha.css");

* {
  font-family: "JetBrains-Mono-Nerd";
  font-size: 13px;
  min-height: 0;
  border-radius: 10px;
}

#waybar {
  background: transparent;
  color: @text;
}

#tray,
#clock,
#pulseaudio,
#custom-workspace,
#custom-app_id,
#custom-app_title,
#custom-brightness,
#memory,
#mpd {
  background-color: @surface0;
  margin: 5 0 0 0;
  padding: 5 15;
  border-width: 0px;
  border-color: @rosewater;
  border-style: solid;
}

#clock {
  color: @blue;
}

#pulseaudio {
  color: @maroon;
}

#memory {
  color: @pink;
}

#mpd {
  color: @peach
}

#tray {
  margin-right: 10px;
}

#custom-workspace {
  color: @rosewater;
  margin-left: 10px;
}

#custom-app_id {
  color: @maroon;
}

#custom-app_title {
  color: @maroon;
}

#custom-brightness {
  color: @flamingo;
}
