#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Apple Music
Exec= google-chrome-stable --app=https://music.apple.com
